In [1]:
import lsdb
from lsdb.catalog.association_catalog.association_catalog import AssociationCatalog
from lsdb.core.dataframe import join_catalog_data

In [2]:
a_cat = lsdb.read_hipscat("../tests/data/small_sky_to_small_sky_order1", catalog_type=AssociationCatalog)
a_cat.compute()

                      primary_id  join_id       join_hipscat_id
primary_hipscat_id
12749688880727326720         707      707  12749688880727326720
12751184493818150912         792      792  12751184493818150912
12753202806647685120         811      811  12753202806647685120
12753202806647685121         723      723  12753202806647685121
12770681119980912640         826      826  12770681119980912640
...                          ...      ...                   ...
13591216801265483776         791      791  13591216801265483776
13596001812279721984         824      824  13596001812279721984
13598131468743213056         702      702  13598131468743213056
13601023174257934336         767      767  13601023174257934336
13696722494273093632         743      743  13696722494273093632

[131 rows x 3 columns]

In [3]:
left = lsdb.read_hipscat("../tests/data/small_sky")
left.compute()

                       id     ra   dec  ra_error  dec_error
hipscat_id
12749688880727326720  707  308.5 -69.5         0          0
12751184493818150912  792  320.5 -69.5         0          0
12753202806647685120  811  315.5 -68.5         0          0
12753202806647685121  723  315.5 -68.5         0          0
12770681119980912640  826  335.5 -69.5         0          0
...                   ...    ...   ...       ...        ...
13591216801265483776  791  312.5 -28.5         0          0
13596001812279721984  824  305.5 -28.5         0          0
13598131468743213056  702  310.5 -27.5         0          0
13601023174257934336  767  314.5 -29.5         0          0
13696722494273093632  743  307.5 -25.5         0          0

[131 rows x 5 columns]

In [4]:
right = lsdb.read_hipscat("../tests/data/small_sky_order1")
right.compute()

                       id     ra   dec  ra_error  dec_error
hipscat_id
12749688880727326720  707  308.5 -69.5         0          0
12751184493818150912  792  320.5 -69.5         0          0
12753202806647685120  811  315.5 -68.5         0          0
12753202806647685121  723  315.5 -68.5         0          0
12770681119980912640  826  335.5 -69.5         0          0
...                   ...    ...   ...       ...        ...
13591216801265483776  791  312.5 -28.5         0          0
13596001812279721984  824  305.5 -28.5         0          0
13598131468743213056  702  310.5 -27.5         0          0
13601023174257934336  767  314.5 -29.5         0          0
13696722494273093632  743  307.5 -25.5         0          0

[131 rows x 5 columns]

In [13]:
%timeit join_catalog_data.join_catalog_data(left, right, through=a_cat).compute()

77.1 ms ± 2.46 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
left._ddf.compute()

                       id     ra   dec  ra_error  dec_error
hipscat_id
12749688880727326720  707  308.5 -69.5         0          0
12751184493818150912  792  320.5 -69.5         0          0
12753202806647685120  811  315.5 -68.5         0          0
12753202806647685121  723  315.5 -68.5         0          0
12770681119980912640  826  335.5 -69.5         0          0
...                   ...    ...   ...       ...        ...
13591216801265483776  791  312.5 -28.5         0          0
13596001812279721984  824  305.5 -28.5         0          0
13598131468743213056  702  310.5 -27.5         0          0
13601023174257934336  767  314.5 -29.5         0          0
13696722494273093632  743  307.5 -25.5         0          0

[131 rows x 5 columns]

In [12]:
%timeit left._ddf.reset_index().set_index("hipscat_id", divisions=[12749688880727326720, 13696722494273093632], sorted=True).repartition(divisions=[12749688880727326720, 12771980657148559360, 13696722494273093632], force=True).partitions[1].compute()

5.81 ms ± 247 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)